<form method="post" action="{{ path('websitehandler_delete', {'id': website_handler.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ website_handler.id) }}">
    <button class="btn">Delete</button>
</form>
